[Desktop Entry]
Name=@@NAME_LONG@@ - URL Handler
Comment=The open source AI code editor
GenericName=Text Editor
Exec=@@EXEC@@ --open-url %U
Icon=@@ICON@@
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/@@URLPROTOCOL@@;
Keywords=void;vscodium;codium;vscode;
